.venv/
venv/
ENV/
env/

__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

*.log
*.sqlite3
*.sqlite3-journal
db.sqlite3
db.sqlite3-journal

media/
staticfiles/

.env
.env.local
.env.production
.env.*


.idea/

.DS_Store
Thumbs.db

dist/
build/
*.egg-info/
EGG-INFO/

*.cover
coverage.xml
.tox/
nosetests.xml
test_output/

/docker/
/docker-compose*

.pytest_cache/
.cache/

# migrations/
